<!DOCTYPE html>
<html>
<head>
    <title>Dolby.io Real-time Streaming Token API Tutorial - Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/@millicast/sdk@latest/dist/millicast.umd.js"></script>
</head>
<body>
    <video id="my-video" controls autoplay muted></video>

    <script>
        const video = document.getElementById('my-video');

        const streamName = '<%= streamName %>'
                console.log(streamName)
                const streamAccountId = '<%= streamAccountId %>'
                console.log(streamAccountId)

        const startViewing = async () => {
            try {
                // // Obtém os dados do localStorage
                // const publisherData = JSON.parse(localStorage.getItem('publisherData'));
                // if (!publisherData) throw new Error('Dados do publisher não encontrados');

               // Callback to generate a subscriber token with credentials
const tokenGenerator = () => millicast.Director.getSubscriber({
      streamName: streamName,
      streamAccountId: streamAccountId
});

                const millicastView = new millicast.View(streamName, tokenGenerator);
                millicastView.on('track', (event) => {
                  console.log('Stream has started.', event);
                  video.srcObject = event.streams[0];
                  video.hidden = false;
                  video.autoplay = true;
                });

                await millicastView.connect();
                console.log('Conectado ao stream com sucesso');
            } catch (error) {
                console.error('Erro ao conectar ao stream:', error);
            }
        };

        startViewing();
    </script>
</body>
</html>
