<!DOCTYPE html>
<html>
<head>
    <title>Dolby.io Real-time Streaming Token API Tutorial - Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/@millicast/sdk@latest/dist/millicast.umd.js"></script>
</head>
<body>
    <video id="my-video" controls autoplay muted></video>

    <script>
        const video = document.getElementById('my-video');

        const startViewing = async () => {
            try {
                // // Obtém os dados do localStorage
                // const publisherData = JSON.parse(localStorage.getItem('publisherData'));
                // if (!publisherData) throw new Error('Dados do publisher não encontrados');

                const streamName = '<%= streamName %>'
                console.log(streamName)
                const streamAccountId = '<%= streamAccountId %>'
                console.log(streamAccountId)

                const tokenGenerator = async () => {
                    return {
                      streamName: streamName,
                      streamAccountId: streamAccountId
                    };
                };

                const millicastView = new millicast.View(streamName, tokenGenerator);

                millicastView.on('track', (event) => {
                    console.log('Stream recebido.');
                    video.srcObject = event.streams[0];
                });

                await millicastView.connect();
                console.log('Conectado ao stream com sucesso');
            } catch (error) {
                console.error('Erro ao conectar ao stream:', error);
            }
        };

        startViewing();
    </script>
</body>
</html>
